extends ../layout.pug

block content
	section.page-section
		.container
			img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0.mx-auto.d-block(src='img/about.jpg' alt='')
			.about-heading-content
				.row
					.col-xl-9.col-lg-10.mx-auto
						.bg-faded.rounded.p-5
							h2.section-heading.mb-4
								span.section-heading-upper Strong Coffee, Strong Day
								span.section-heading-lower About Our Cafe
							p
								| Founded in 2001 by the Hendricks brothers, our goal has been serving up the natural coffee sourced
								| from famous farmers in various regions of South and Central America.
								| We want to find the best quality, and bringing back to you here in our cafe.
