extends ../layout.pug

block content
	section.page-section.clearfix
		.container
			.intro
				img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src="img/intro.jpg" alt="")
				.intro-text.left-0.text-center.bg-faded.p-5.rounded
					h2.section-heading.mb-4
						span.section-heading-upper Fresh Coffee
						span.section-heading-lower Worth Drinking
					p.mb-3
						| Every cup of our great Supreme espresso begins with locally sourced, hand picked ingredients.
						| After you try it, our coffee may be a pleased addition for your everyday morning routine - we assure it!
					.intro-button.mx-auto
						a.btn.btn-primary.btn-xl(href="#") Visit Us Today!
	section.page-section.cta
		.container
			.row
				.col-xl-9.mx-auto
					.cta-inner.text-center.rounded
						h2.section-heading.mb-4
							span.section-heading-upper Our Promise
							span.section-heading-lower To You
						p.mb-0
							| When you come into our cafe to begin your day, we are devoted to giving you well disposed
							| administration, an inviting climate, or more all else, magnificent items made with the most noteworthy
							| quality fixings. On the off chance that you are not fulfilled, if you don't mind told us and we will do
							| whatever we can to make things right!