extends ../layout.pug

block content
	section.page-section
		.container
			.product-item
				.product-item-title.d-flex
					.bg-faded.p-5.d-flex.ml-auto.rounded.text-break
						h2.section-heading.mb-0
							span.section-heading-upper Pursuing perfection.
							span.section-heading-lower Coffees&nbsp;&amp;&nbsp;Teas
				img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/products-01.jpg' alt='')
				.product-item-description.d-flex.mr-auto
					.bg-faded.p-5.rounded
						p.mb-0
							| Each time you arrange a refreshment from us, we ensure that everything will be perfect.
							| Regardless of whether it&apos;s our reality popular Supreme Cappuccino, an invigorating frosted home
							| grown tea, or something as straightforward as some dark espresso, you will return for
							| additional.
	section.page-section
		.container
			.product-item
				.product-item-title.d-flex
					.bg-faded.p-5.d-flex.mr-auto.rounded.text-break
						h2.section-heading.mb-0
							span.section-heading-upper Fresh, hot, delicious
							span.section-heading-lower Bakery&nbsp;&amp;&nbsp;Kitchen
				img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/products-02.jpg' alt='')
				.product-item-description.d-flex.ml-auto
					.bg-faded.p-5.rounded
						p.mb-0
							| Our menu consists of delicious baked goods, snacks and even full meals perfect for your
							| breakfast or lunchtime. We get our goods from organic farms with help of premium vendors.
	section.page-section
		.container
			.product-item
				.product-item-title.d-flex
					.bg-faded.p-5.d-flex.ml-auto.rounded.text-break
						h2.section-heading.mb-0
							span.section-heading-upper Accurately selected
							span.section-heading-lower Specialty Blends
				img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/products-03.jpg' alt='')
				.product-item-description.d-flex.mr-auto
					.bg-faded.p-5.rounded
						p.mb-0
							| When you
							| visit us, you&apos;ll always find well balanced and time tested flavors. We also sell our blends in various
							| quantities.
