extends ../layout.pug

block content
	section.page-section.cta
		.container
			.row
				.col-xl-9.mx-auto
					.cta-inner.text-center.rounded
						h2.section-heading.mb-5
							span.section-heading-upper Come On In
							span.section-heading-lower We&apos;re Open
						ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
							li.list-unstyled-item.list-hours-item.d-flex
								| Sunday
								span.ml-auto Closed
							li.list-unstyled-item.list-hours-item.d-flex
								| Monday
								span.ml-auto 6:00 AM to 6:00 PM
							li.list-unstyled-item.list-hours-item.d-flex
								| Tuesday
								span.ml-auto 6:00 AM to 6:00 PM
							li.list-unstyled-item.list-hours-item.d-flex
								| Wednesday
								span.ml-auto 6:00 AM to 6:00 PM
							li.list-unstyled-item.list-hours-item.d-flex
								| Thursday
								span.ml-auto 6:00 AM to 6:00 PM
							li.list-unstyled-item.list-hours-item.d-flex
								| Friday
								span.ml-auto 6:00 AM to 6:00 PM
							li.list-unstyled-item.list-hours-item.d-flex
								| Saturday
								span.ml-auto 9:00 AM to 5:30 PM
						p.address.mb-5
							em
								strong 65 Arcade Alley
								br
								|                 Nashville, Tennessee
						p.mb-0
							small
								em Call Anytime
							br
							|               (615) 555-0129
	section.page-section.about-heading
		.container
			img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0.mx-auto.d-block(src='img/about.jpg' alt='')
			.about-heading-content
				.row
					.col-xl-9.col-lg-10.mx-auto
						.bg-faded.rounded.p-5
							h2.section-heading.mb-4
								span.section-heading-upper Strong Coffee, Strong Day
								span.section-heading-lower About Our Cafe
							p
								| Founded in 2001 by the Hendricks brothers, our goal has been serving up the natural coffee sourced
								| from famous farmers in various regions of South and Central America.
								| We want to find the best quality, and bringing back to you here in our cafe.
