doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		title Cafe - Supreme
		// inject:css
		// endinject 
	body
		include header
		include navigation
		block content
		include footer
		// inject:js
		// endinject 